.main{
    text-align: center;
}

.profile-pic{
    display:block;
    width: 1.5em;
    height:1.5em;
    margin-left:2vw;
    margin-top: 3vh;
    font-size: 100px;
    border: 2px solid grey;
    border-radius: 50%;
    color: grey;
    background-color: grey;
}
.title{
    position: fixed, center;  
    font-size: 100px;
    text-align: center;
    border-bottom: 1px solid white;
}

.course{
    display: block;
    font-size: 50px;
    border-radius: 16px;
    border: 1px solid white;
    margin-top: 10vh;
    border-radius: 2px;
    margin-left: 10vw;
}

.profile-border{
   position: fixed;         
  top: 0;                  
  bottom: 0;              
  left: 10%;               
  width: 0;                
  border-left: 1px solid black; 
  z-index: -1; 
}