.main{
    text-align: center;
}

.profile-pic{
    background-color: white;
    margin-right: 95vw;
    font-size:100px;
    border-radius: 100%;
    
}
.title{
    font-size: 100px;
    text-align: center;
    border-bottom: 1px solid white;
}

.course{
    font-size: 50px;
}

.profile-border{
   position: fixed;         
  top: 0;                  
  bottom: 0;              
  left: 10%;               
  width: 0;                
  border-left: 1px solid white; 
  z-index: -1; 
}