.profile-border{
position: fixed;         
  top: 0;                  
  bottom: 0;              
  left: 10%;               
  width: 0;                
  border-left: 1px solid white; 
  z-index: -1; 
}
.title{
    font-size: 100%;
    text-align: center;
    border-bottom: 1px solid white;
}

.assignment{
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}

.assignments-container{
    text-align: center;
    font-size: 75px;
    border: 1px solid white;
    margin-left: 10vw;
}

.back-button{
    font-size:50px;
}