.title{
    font-size: 100px;
    text-align: center;
    border-bottom: 1px solid white; 
}

.description{
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
}

.profile-border{
  position: fixed;         
  top: 0;                  
  bottom: 0;              
  left: 10%;               
  width: 0;                
  border-left: 1px solid white; 
  z-index: -1; 
}